<?xml version='1.0' encoding='utf-8'?>
<widget id="com.darshanchaure.prajakta_weds_harish" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Prajakta Weds Harish</name>
    <description>
        Wedding invitation app to invite guests in a wedding ceremony of Prajakta and Harish.
    </description>
    <author email="cdarshan1990@gmail.com">
        Darshan Chaure
    </author>
    <content src="index.html" />
    <access origin="*" />
	<icon src="icon.png" />
	<preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
	<preference name="android-targetSdkVersion" value="26"/>
	<preference name="SplashScreen" value="screen"/>
	
	<plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
	
	<preference name="SplashScreenDelay" value="5000" />
	<splash src="splash.png" />
	
	<splash platform="android" qualifier="port-ldpi" src="sp_img/splash.png" />
	<splash platform="android" qualifier="port-hdpi" src="sp_img/splash.png" />
	<splash platform="android" qualifier="port-mdpi" src="sp_img/splash.png" />
	<splash platform="android" qualifier="port-xhdpi" src="sp_img/splash.png" />
	 
</widget>
